@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-img: url('/background.jpeg');

}

body {
  position: fixed;
  background-image: var(--background-img);
  background-size: cover;
}

@media screen and (max-width: 1250px) {
  body {
    background-size: auto;
  }
}