@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-img: url('/background.jpeg');

}

body {
  position: fixed;
  background-image: var(--background-img);
  background-size: cover;
  font-size: 9px;
}

.bg-light-grey{
  background-color: #303038;
}
.bg-dark-grey{
  background-color: #292930;
  border: 2px solid #303038;
}
.transp{
  background-color: #262534e6;
}
.border-light-grey{
  border: 2px solid #303038;
}
.chosen{
  border: 2px solid #303038;
  border-bottom: none;
  border-radius: 10%;
  color: #6764F1;
}
.non-chosen{
  border-bottom: 2px solid #303038;
  border-right: 2px solid #303038;
  color: #9C9CB0;
}
.button{
  background-color: #6764F1;
}

@media screen and (max-width: 1250px) {
  body {
    background-size: auto;
  }
}