@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-img: url('/background.jpeg');

}

body {
  position: fixed;
  background-image: var(--background-img);
  background-size: cover;
  font-size: 7px;
}
.text-larger{
  font-size: 9px;
}

.bg-light-grey{
  background-color: #303038;
}
.bg-dark-grey{
  background-color: #292930;
  border: 2px solid #303038;
}
.transp{
  background-color: #262534e6;
}
.border-light-grey{
  border: 2px solid #303038;
}
.chosen{
  border: 2px solid #303038;
  border-bottom: none;
  border-radius: 10%;
  color: #6764F1;
}
.non-chosen{
  border-bottom: 2px solid #303038;
  border-right: 2px solid #303038;
  color: #9C9CB0;
}
.button{
  background-color: #6764F1;
}
.checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 5%;
  border: 1px solid #ffffff4c;
}
.checkbox.checked {
  border: 1px solid #6764f1;
}

.checkbox.checked::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 4px;
  height: 8px;
  border-bottom: 1px solid #6764f1;
  border-right: 1px solid #6764f1;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 1250px) {
  body {
    background-size: auto;
  }
}